@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     scroll-behavior: smooth;
}

body {
     font-family: "Roboto", sans-serif;
     background-color: rgb(20, 20, 22);
     color: white;

}

#search {
     width: 30rem;
}

input[type="text"]:hover{
     box-shadow: 0px 0px 3px rgb(16 185 129) ;
}
input[type="text"]:focus{
     box-shadow: 0px 0px 3px rgb(16 185 129) ;
}

.range[type="range"] {
     -webkit-appearance: none;
     width: 100%;
     margin-bottom: 10px;
     background-color: #f1f1f1c0;
}

input[type="range"]::-webkit-slider-thumb {
     appearance: none;
     width: 10px;
     height: 10px;
     border-radius: 30px;
     background-color: rgb(12, 211, 145);
}
.volume[type="range"]{
     width: 80px;
     -webkit-appearance: none;
     background-color: #4d4d4d59;
}